* {
  font-family: 'Merriweather', serif;
}

.banner-img {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
    url('../resources/Banner\ Image.png');
  background-repeat: no-repeat;
  height: 500px;
  align-items: center;
  background-position: center;
  background-size: cover;
  padding: 10px;
  border-radius: 5px;
}

.banner-text {
  text-align: center;
  padding: 100px;

}

.text-banner {
  font-size: 20px;
  color: #FFF;
}

.text-banners {
  font-size: 70px;
  color: #FFF;
  font-weight: bold;
  text-align: center;
}

.holiday {
  text-align: center;
  margin: 150px;

}

.holiday-text {
  color: red;
  font-size: 50px;
}

.holiday-textt {
  color: red;
}

.new-year {
  align-items: center;
  background-repeat: no-repeat;
  padding: 20px 20%;
}

.Vector-text {
  margin: 10px;
  padding-left: 20px;
  padding-top: 0px;
  color: #FFF;
  font-size: 85px;
}

.image {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
  margin: 130px 0;
  background-repeat: no-repeat;
  height: 500px;
  align-items: center;
  background-position: center;
  background-size: cover;
  padding: 40px;
  border-radius: 5px;
}

.vector-textt {
  color: #FFF;
  padding-left: 20px;
}

.join {
  margin: 70px;
  border-radius: 5;
  border: none;

}

.join-text {
  color: red;
  font-weight: 700;
  font-size: 20px;
  font-weight: 700;
}

.venu {
  background: linen;
  margin: 130px 0;
  padding: 130px;
  border-radius: 10px;
}

.venu-text {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
}

.place,
.time,
.date {
  color: red;
}

.btn {
  padding: 15px 30px;
  border-radius: 5%;
  font-size: 20px;
  font-weight: 700;
  border: none;
  color: white;
  background-color: red;
}

.gift-text {
  color: red;
}

.gift-textb {
  font-weight: 900;
  color: #070211;
}

/* .mouse{
  transition: 1s;
} */


.product {
  display: flex;
  gap: 20px;
  border-radius: 15px;
  height: 425px;
  padding: 5px;
}
.product img:hover{
  transition: 2s;
  transform: scale(1.3);
}
.items {
  display: flex;
  gap: 20px;
  border-radius: 15px;
  height: 425px;
  padding: 5px;
  
}
.items img:hover{
  transition: 2s;
  transform: scale(1.3);
}

.subscribe {
  background-color: linen;
  margin: 130px 0;
  padding: 130px;
  text-align: center;
  border-radius: 10px;
}

#input-btn {
  border: none;
  border-radius: 25px 0 0 25px;
  background: #FFF;
  padding: 10px 30px;
  width: 300px;
}

.container {
  padding-bottom: 100px;
}

.sub-btn {
  position: relative;
  left: -5px;
  border: none;
  border-radius: 0 25px 25px 0;
  background: #e70404;
  padding: 10px 30px;
  font-weight: 600;
  color: #FFF;
  width: 150px;
}

footer {
  background: #000000;
  padding: 100px;
  color: #FFF;
}

.main {
  display: flex;
  justify-content: space-between;

}

.call {
  display: inline-block;
  /* display: flex; */
  background-image: url('../resources/Call.png');
  background-repeat: no-repeat;
  
}